---

---

<section
   class="layout bound-x prop-bg mt-10 vp9:mt-30 mb-10 vp9:mb-30 scheme-default"
   data-type="testimonials"
>
   <div class="max-w-screen-vp10 mx-auto mb-16">
      <div class="c-intro c-intro--center">
         <div class="c-intro__titles">
            <h2
               class="c-title c-intro__title typo-h1"
            >
               Proof in practice
            </h2><p
               class="c-title c-intro__subtitle"
            >
               Their words, not&nbsp;ours
            </p>
         </div><div
            class="c-text s-wysiwyg"
         >
            <p>Our customers about their Timefold experience.&nbsp;</p>
         </div>
      </div>
   </div><div class="grid vp7:grid-cols-2 vp9:grid-cols-3 gap-4">
      <article
         class="c-testimonial"
      >
         <span class="c-icon c-testimonial__icon">
            <svg
               class="c-icon__asset"
               width="30"
               height="23"
               viewBox="0 0 30 23"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true"
            >
               <path
                  d="M14.4453 0.632812L11.6328 22.2344H0.851562L6.55469 0.632812H14.4453ZM29.25 0.632812L26.4375 22.2344H15.6562L21.3594 0.632812H29.25Z"
                  fill="#5306F7"></path>
            </svg></span
         ><div class="c-text s-wysiwyg c-testimonial__text s-wysiwyg">
            <p>
               We needed a&nbsp;solution that would integrate seamlessly into
               our technology stack. Timefold’s engineering-first mindset
               immediately stood out. Their capabilities are advanced and
               comprehensive, their APIs are exceptionally clean, and their
               economic model is both uncomplicated and well aligned with
               organizations that rely on a&nbsp;platform provider.
            </p>
         </div><div class="c-testimonial__author-info">
            <p class="c-title c-testimonial__author typo-h4">
               Brooks Adcock
            </p><div class="c-text s-wysiwyg c-testimonial__subtitle s-wysiwyg">
               Technical Business Lead
            </div>
         </div><div class="c-logo c-testimonial__logo">
            <picture class="c-picture c-logo__image c-picture--contain">
               <img
                  class="c-picture__image c-picture__image--default ls-is-cached lazyloaded"
                  src="https://timefold.ai/uploads/logos/servicetrade.png"
                  sizes="300px"
                  width="1939"
                  height="765"
                  alt="Servicetrade"
                  loading="lazy"
               />
            </picture>
         </div>
      </article><article
         class="c-testimonial"
      >
         <span class="c-icon c-testimonial__icon">
            <svg
               class="c-icon__asset"
               width="30"
               height="23"
               viewBox="0 0 30 23"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true"
            >
               <path
                  d="M14.4453 0.632812L11.6328 22.2344H0.851562L6.55469 0.632812H14.4453ZM29.25 0.632812L26.4375 22.2344H15.6562L21.3594 0.632812H29.25Z"
                  fill="#5306F7"></path>
            </svg></span
         ><div class="c-text s-wysiwyg c-testimonial__text s-wysiwyg">
            <p>
               Timefold worked in partnership with <span class="caps">NEC</span> to
               provide the optimisation required and extended their platform to accommodate
               specific requirements for the Social Housing sector. The time to market
               was shortened through agile partnerships working.
            </p>
         </div><div class="c-testimonial__author-info">
            <p class="c-title c-testimonial__author typo-h4">
               Trevor Hampton
            </p><div class="c-text s-wysiwyg c-testimonial__subtitle s-wysiwyg">
               Product Director, <span class="caps">NEC</span>
            </div>
         </div><div class="c-logo c-testimonial__logo">
            <picture class="c-picture c-logo__image c-picture--contain">
               <img
                  class="c-picture__image c-picture__image--default"
                  src="https://timefold.ai/uploads/logos/nec.svg"
                  sizes="300px"
                  width="75"
                  height="20"
                  alt="NEC"
               />
            </picture>
         </div>
      </article><article
         class="c-testimonial"
      >
         <span class="c-icon c-testimonial__icon">
            <svg
               class="c-icon__asset"
               width="30"
               height="23"
               viewBox="0 0 30 23"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true"
            >
               <path
                  d="M14.4453 0.632812L11.6328 22.2344H0.851562L6.55469 0.632812H14.4453ZM29.25 0.632812L26.4375 22.2344H15.6562L21.3594 0.632812H29.25Z"
                  fill="#5306F7"></path>
            </svg></span
         ><div class="c-text s-wysiwyg c-testimonial__text s-wysiwyg">
            <p>
               Tasked with a&nbsp;complex scheduling problem for
               a&nbsp;prospect, we were operational in real-time, with real data
               in <span class="numbers">4</span>&nbsp;days. Thanks in large part
               to the solid foundation of Timefold, the client selected us on
               the strength of our demonstration.
            </p>
         </div><div class="c-testimonial__author-info">
            <p class="c-title c-testimonial__author typo-h4">
               Michael Galkovsky
            </p><div class="c-text s-wysiwyg c-testimonial__subtitle s-wysiwyg">
               <span class="caps">NATO</span>, Intelligence, and Defense Chief
               Architect, <span class="caps">IBM</span> services
            </div>
         </div><div class="c-logo c-testimonial__logo">
            <picture class="c-picture c-logo__image c-picture--contain">
               <img
                  class="c-picture__image c-picture__image--default ls-is-cached lazyloaded"
                  src="https://timefold.ai/uploads/logos/ibm-logo.png"
                  sizes="300px"
                  width="299"
                  height="120"
                  alt="IBM"
                  loading="lazy"
               />
            </picture>
         </div>
      </article>
   </div>
</section>
