---

---

<section
  class="layout bound-x mb-4 vp9:mb-8 scheme-purple"
  data-type="image-block"
>
  <div class="prop-bg
s-container">
    <div
      class="prop-bg c-image-block"
    >
      <div class="c-image-block__content">
        <div class="c-image-block__intro mx-auto">
          <div class="c-intro c-intro--center">
            <div class="c-intro__titles">
              <h2
                class="c-title c-intro__title c-image-block__title typo-h1"
                data-aos="fade-up"
              >
                Timefold Intelligence
              </h2><p
                class="c-title c-intro__subtitle c-image-block__subtitle"
                data-aos="fade-up" data-aos-delay="100"
              >
                Operational planning is just step&nbsp;one
              </p>
            </div><div
              class="c-text s-wysiwyg"
              data-aos="fade-up" data-aos-delay="200"
            >
              <p>
                Opaque workforce scheduling leaves you flying blind. Timefold
                gives you governance by pairing powerful optimization with
                actionable intelligence.
              </p>
            </div>
          </div>
        </div><div class="c-image-block__image" data-aos="fade-in" data-aos-delay="300">
          <picture
            class="c-picture relative w-full h-full"
          >
            <img
              class="c-picture__image c-picture__image--default ls-is-cached lazyloaded"
              src="https://timefold.ai/uploads/images/Optimization-platform-planningai-intelligence-timefold.png"
              sizes="(min-width: 768px) 33vw, 100vw"
              width="1921"
              height="1001"
              alt="Optimization platform planningai intelligence timefold"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
