---

---

<section class="layout bound-x scheme-dark" data-type="models">
  <div class="c-models">
    <div class="max-w-screen-vp10 mx-auto">
      <div class="c-intro c-intro--center">
        <div class="c-intro__titles">
          <h2
            class="c-title c-intro__title c-models__title aos-init aos-animate"
            data-aos="fade-up"
            data-aos-delay="0"
            data-aos-duration="1000"
            data-aos-easing="ease-out-expo"
          >
            Real-world and ready-to-use <mark class="mark--purple">APIs</mark>
          </h2>
        </div><div
          class="c-text s-wysiwyg c-models__text aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="ease-out-expo"
        >
          <p>
            Get optimization out of the box. We took care of the
            complexity.&nbsp;
          </p>
        </div>
      </div>
    </div><div class="c-models__list">
      <div class="flex flex-wrap justify-center">
        <div
          class="c-model w-full vp7:w-1/3 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          <picture class="c-picture c-model__image">
            <img
              class="c-picture__image c-picture__image--default"
              src="https://timefold.ai/uploads/images/Model-Icons/model-1-field-service-routing.png"
              sizes="300px"
              width="420"
              height="420"
              alt="Field service routing"
            />
          </picture><div class="c-model__titles">
            <h3 class="c-title c-model__title">Field Service Routing</h3>
          </div><div
            class="c-text s-wysiwyg c-model__text s-wysiwyg text-center grow"
          >
            <p>Maximize productivity. Minimize travel time.&nbsp;</p>
          </div><div class="c-link-group c-model__link-group"></div>
        </div><div
          class="c-model w-full vp7:w-1/3 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <picture class="c-picture c-model__image">
            <img
              class="c-picture__image c-picture__image--default"
              src="https://timefold.ai/uploads/images/Model-Icons/model-2-employee-scheduling.png"
              sizes="300px"
              width="420"
              height="420"
              alt="Employee shift scheduling"
            />
          </picture><div class="c-model__titles">
            <h3 class="c-title c-model__title">Employee Shift Scheduling</h3>
          </div><div
            class="c-text s-wysiwyg c-model__text s-wysiwyg text-center grow"
          >
            <p>Balanced schedules. Happier teams. Lower&nbsp;costs.</p>
          </div><div class="c-link-group c-model__link-group"></div>
        </div><div
          class="c-model w-full vp7:w-1/3 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <picture class="c-picture c-model__image">
            <img
              class="c-picture__image c-picture__image--default"
              src="https://timefold.ai/uploads/images/Model-Icons/last-mile-routing.png"
              sizes="300px"
              width="420"
              height="420"
              alt="Last mile routing"
            />
          </picture><div class="c-model__titles">
            <h3 class="c-title c-model__title">Last-Mile Delivery Routing</h3>
          </div><div
            class="c-text s-wysiwyg c-model__text s-wysiwyg text-center grow"
          >
            <p>
              Optimize depot-to-customer deliveries with capacity-aware vehicle
              routing
            </p>
          </div><div class="c-link-group c-model__link-group"></div>
        </div>
      </div>
    </div><div class="c-link-group c-models__links c-link-group--center">
      <a
        class="c-link-group__link c-models__link c-button--primary c-button c-button--rounded"
        href="https://timefold.ai/model"
        target="_self"
      >
        <span class="c-button__text">Explore models</span>
      </a>
    </div>
  </div>
</section>
