---
---

<section class="layout bound-x section-sm scheme-default">
  <div class="c-hero scheme-default py-[5vh]">
    <div class="c-hero__content">
      <h1
        class="c-title c-hero__title aos-init aos-animate"
      >
        Optimize complex

        <span
          class="c-rotate js-rotating-title is-ready"
          style="height: 68px; width: 137px;"
        >
          <span
            class="c-rotate__track"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, -68px);"
          >
            <span class="c-rotate__item"
              ><mark class="mark--purple">route</mark></span
            >
            <span class="c-rotate__item"
              ><mark class="mark--purple">shift</mark></span
            >
            <span class="c-rotate__item"
              ><mark class="mark--purple">task</mark></span
            >
            <span class="c-rotate__item" aria-hidden="true"
              ><mark class="mark--purple">route</mark></span
            >
          </span>
        </span>
        <mark class="mark--purple">scheduling</mark><br />– one <span
          class="caps">API</span> <mark class="mark--purple"> </mark>call away
      </h1>

      <div
        class="c-text s-wysiwyg c-hero__text s-wysiwyg--big max-vp7:hidden aos-init aos-animate"
      >
        <p></p><p>
          The intelligent scheduling optimization platform for workforce
          management. Route vehicles, schedule jobs, or assign employees
          optimally in real-time, every&nbsp;time.&nbsp;
        </p>
      </div>

      <div class="c-hero__links-container">
        <div class="c-link-group c-hero__links">
          <a
            class="c-link-group__link c-hero__link c-button--primary c-button aos-init aos-animate"
            href="https://timefold.ai/request-a-trial"
            target="_self"
          >
            <span class="c-button__text">Request free trial</span>

            <span class="c-icon c-button__icon c-icon--after">
              <svg
                class="c-icon__asset"
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                aria-hidden="true"
              >
                <path
                  fill="currentcolor"
                  d="M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z"
                ></path>
              </svg>
            </span>
          </a>

          <a
            class="c-link-group__link c-hero__link c-button--tertiary c-button aos-init aos-animate"
            href="https://app.timefold.ai/"
            target="_self"
          >
            <span class="c-button__text">Explore our APIs</span>

            <span class="c-icon c-button__icon c-icon--after">
              <svg
                class="c-icon__asset"
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                aria-hidden="true"
              >
                <path
                  fill="currentcolor"
                  d="M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z"
                ></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
