---

---

<section class="scheme-default prop-bg" data-type="split-grid">
  <div class="prop-bg px-0">
    <div class="c-split-grid">
      <div class="layout bound-x" data-aos="fade-up">
        <div class="c-split-grid__container">
          <article class="c-text-card c-split-grid__text">
            <div class="c-text-card__content">
              <h3 class="c-title c-text-card__title">
                <mark class="mark--purple">Auto-generate</mark> large-scale schedules
              </h3>
              <div class="c-text s-wysiwyg c-text-card__text">
                <p>
                  Drag-and-drop doesn’t scale. Timefold replaces stressful,
                  error-prone and time-consuming manual scheduling with
                  a&nbsp;simple <span class="push-double"></span>
                  ​<span class="pull-double">“</span>schedule with <span class="caps">AI</span>” button. You keep
                  the same <span class="caps">UI</span> and workflows, without the
                  scrambling.&nbsp;
                </p>
              </div>
            </div>
          </article>
          <div class="c-split-grid__media">
            <div class="c-video js-video c-split-grid__video">
              <video
                class="c-video--native c-video__content"
                preload="metadata"
                autoplay=""
                loop=""
                muted=""
                playsinline=""
                disablepictureinpicture="true"
                width=""
                height=""
              >
                <source
                  class="c-video__source"
                  src="https://timefold.ai/uploads/videos/Visual-03-_-True-automation-4_3-White-BG.webm"
                  type="video/mp4"
                /></video
              >
            </div>
          </div>
        </div>
      </div>
      <div class="layout bound-x" data-aos="fade-up">
        <div class="c-split-grid__container">
          <div class="c-split-grid__media">
            <div class="c-video js-video c-split-grid__video">
              <video
                class="c-video--native c-video__content"
                preload="metadata"
                autoplay=""
                loop=""
                muted=""
                playsinline=""
                disablepictureinpicture="true"
                width=""
                height=""
              >
                <source
                  class="c-video__source"
                  src="https://timefold.ai/uploads/videos/Visual-01-_-Always-on-planning-4_3-White-BG.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
          <article class="c-text-card c-split-grid__text">
            <span class="c-icon c-text-card__icon">
              <span class="sr-only">calendar-clock</span>
              <span class="ti ti-calendar-clock"></span>
            </span><div class="c-text-card__content">
              <h3 class="c-title c-text-card__title">
                <mark class="mark--purple">Always-on</mark> operations
              </h3><div class="c-text s-wysiwyg c-text-card__text">
                <p>
                  Scheduling spans many horizons. Whether you’re planning months
                  ahead or reacting to changes in real time, you stay fully in
                  control. The result: efficient, resilient and dynamic
                  operations, regardless of how quickly things evolve.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="layout bound-x" data-aos="fade-up">
        <div class="c-split-grid__container">
          <article class="c-text-card c-split-grid__text">
            <span class="c-icon c-text-card__icon">
              <span class="sr-only">reload</span>
              <span class="ti ti-reload"></span>
            </span><div class="c-text-card__content">
              <h3 class="c-title c-text-card__title">
                Beat day-to-day <mark class="mark--purple">chaos</mark>
              </h3><div class="c-text s-wysiwyg c-text-card__text">
                <p>
                  Even during execution, Timefold schedules withstand real-world
                  chaos. When disruptions occur, planners get recommended the
                  best alternatives at the click of a&nbsp;button. Sick calls,
                  delays, or emergencies will no longer derail your&nbsp;plans.
                </p>
              </div>
            </div>
          </article>
          <div class="c-split-grid__media">
            <div class="c-video js-video c-split-grid__video">
              <video
                class="c-video--native c-video__content"
                preload="metadata"
                autoplay=""
                loop=""
                muted=""
                playsinline=""
                disablepictureinpicture="true"
                width=""
                height=""
              >
                <source
                  class="c-video__source"
                  src="https://timefold.ai/uploads/videos/Visual-02-_-Day-to-day-chaos-4_3-White-BG.mp4"
                  type="video/mp4"
                /></video
              >
            </div>
          </div>
        </div>
      </div>
      <div class="layout bound-x" data-aos="fade-up">
        <div class="c-split-grid__container">
          <div class="c-split-grid__media">
            <div class="c-video js-video c-split-grid__video">
              <video
                class="c-video--native c-video__content"
                preload="metadata"
                autoplay=""
                loop=""
                muted=""
                playsinline=""
                disablepictureinpicture="true"
                width=""
                height=""
              >
                <source
                  class="c-video__source"
                  src="https://timefold.ai/uploads/videos/Visual-04-_-Happy-workforce-4_3-White-BG.mp4"
                  type="video/mp4"
                /></video
              >
            </div>
          </div>
          <article class="c-text-card c-split-grid__text">
            <span class="c-icon c-text-card__icon">
              <span class="sr-only">mood-happy</span>
              <span class="ti ti-mood-happy"></span>
            </span><div class="c-text-card__content">
              <h3 class="c-title c-text-card__title">
                Balanced workdays, <mark class="mark--purple">happy</mark>
                <mark class="mark--purple">workforces</mark>
              </h3><div class="c-text s-wysiwyg c-text-card__text">
                <p>
                  Create an environment where people want to work and stay.
                  Timefold considers preferences, skills, breaks, availability,
                  time-off requests, commutes, rotations and more, so every
                  schedule is objectively fair.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
