---

---

<section class="layout bound-x scheme-purple mb-4 vp9:mb-8 relative">
  <div class="c-cta s-container scheme-purple prop-bg">
    <div class="c-cta__content">
      <div class="c-intro">
        <div class="c-intro__titles">
          <h2 class="c-title c-intro__title">
            Get more out of your resources, fast.
          </h2>
          <p class="c-title c-intro__subtitle typo-h3">
            Ready to start optimizing?
          </p>
        </div>
      </div>
    </div><div class="c-link-group c-cta__links ml-auto">
      <a
        class="c-link-group__link c-cta__link c-button--primary c-button"
        href="https://timefold.ai/talk-to-us"
        target="_self"
      >
        <span class="c-button__text">Talk to us</span><span
          class="c-icon c-button__icon c-icon--after"
        >
          <svg
            class="c-icon__asset"
            width="16"
            height="16"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            aria-hidden="true"
          >
            <path
              fill="currentcolor"
              d="M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z"
            ></path>
          </svg></span
        >
      </a>
    </div><div class="c-cta__graphic">
      <svg
        class="c-cta__graphic-asset"
        width="418"
        height="238"
        viewBox="0 0 418 238"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <g clip-path="url(#clip0_1406_10763)">
          <path
            opacity="0.2"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M-1273.55 273.704H144.053C201.604 273.704 253.109 237.638 272.919 183.643L333.199 17.9605V17.9592L333.201 17.9548L333.206 17.9407L333.224 17.8918C333.24 17.8502 333.263 17.7907 333.294 17.7145C333.354 17.5621 333.444 17.3427 333.566 17.066C333.809 16.5127 334.176 15.729 334.683 14.7917C335.696 12.919 337.268 10.422 339.512 7.92224C344.008 2.91269 351.218 -2.12204 361.969 -2.12204H798.78L898.555 -276.158H538.297C480.746 -276.158 429.241 -240.092 409.431 -186.096L349.151 -20.4145V-20.4132L349.149 -20.4087L349.144 -20.3947L349.125 -20.3458C349.11 -20.3042 349.087 -20.2447 349.056 -20.1685C348.996 -20.0161 348.905 -19.7967 348.784 -19.52C348.541 -18.9667 348.173 -18.183 347.667 -17.2457C346.654 -15.373 345.082 -12.8761 342.838 -10.3762C338.342 -5.36674 331.132 -0.332001 320.381 -0.332001H-1273.55V273.704ZM144.053 274.704C202.024 274.704 253.904 238.376 273.857 183.987L334.138 18.3024C334.138 18.3024 341.175 -1.12204 361.969 -1.12204H799.48L899.984 -277.158H538.297C480.326 -277.158 428.446 -240.829 408.492 -186.441L348.211 -20.7564C348.211 -20.7564 341.175 -1.332 320.381 -1.332H-1274.55V274.704H144.053Z"
            fill="white"></path>
          <path
            opacity="0.2"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M-1381.6 273.704H36.004C93.5543 273.704 145.059 237.638 164.869 183.643L225.149 17.9605L225.15 17.9592L225.151 17.9548L225.157 17.9407L225.175 17.8918C225.191 17.8502 225.214 17.7907 225.244 17.7145C225.305 17.5621 225.395 17.3427 225.516 17.066C225.759 16.5127 226.127 15.729 226.634 14.7917C227.646 12.919 229.219 10.422 231.462 7.92224C235.958 2.91269 243.169 -2.12204 253.919 -2.12204H690.73L790.506 -276.158H430.247C372.697 -276.158 321.191 -240.092 301.382 -186.096L241.101 -20.4145V-20.4132L241.099 -20.4087L241.094 -20.3947L241.076 -20.3458C241.06 -20.3042 241.037 -20.2447 241.007 -20.1685C240.946 -20.0161 240.856 -19.7967 240.735 -19.52C240.492 -18.9667 240.124 -18.183 239.617 -17.2457C238.605 -15.373 237.032 -12.8761 234.789 -10.3762C230.293 -5.36674 223.082 -0.332001 212.332 -0.332001H-1381.6V273.704ZM36.004 274.704C93.9748 274.704 145.854 238.376 165.808 183.987L226.089 18.3024C226.089 18.3024 233.125 -1.12204 253.919 -1.12204H691.43L791.934 -277.158H430.247C372.276 -277.158 320.397 -240.829 300.443 -186.441L240.162 -20.7564C240.162 -20.7564 233.125 -1.332 212.332 -1.332H-1382.6V274.704H36.004Z"
            fill="white"></path>
          <path
            opacity="0.2"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M-1489.65 273.704H-72.0453C-14.495 273.704 37.0105 237.638 56.8201 183.643L117.101 17.9605V17.9592L117.103 17.9548L117.108 17.9407L117.126 17.8918C117.142 17.8502 117.165 17.7907 117.195 17.7145C117.256 17.5621 117.346 17.3427 117.468 17.066C117.71 16.5127 118.078 15.729 118.585 14.7917C119.598 12.919 121.17 10.422 123.413 7.92224C127.91 2.91269 135.12 -2.12204 145.871 -2.12204H582.682L682.457 -276.158H322.198C264.648 -276.158 213.143 -240.092 193.333 -186.096L133.053 -20.4145L133.052 -20.4132L133.051 -20.4087L133.046 -20.3947L133.027 -20.3458C133.012 -20.3042 132.989 -20.2447 132.958 -20.1685C132.898 -20.0161 132.807 -19.7967 132.686 -19.52C132.443 -18.9667 132.075 -18.183 131.569 -17.2457C130.556 -15.373 128.984 -12.8761 126.74 -10.3762C122.244 -5.36674 115.033 -0.332001 104.283 -0.332001H-1489.65V273.704ZM-72.0453 274.704C-14.0744 274.704 37.8052 238.376 57.7589 183.987L118.04 18.3024C118.04 18.3024 125.077 -1.12204 145.871 -1.12204H583.382L683.885 -277.158H322.198C264.228 -277.158 212.348 -240.829 192.394 -186.441L132.113 -20.7564C132.113 -20.7564 125.077 -1.332 104.283 -1.332H-1490.65V274.704H-72.0453Z"
            fill="white"></path>
          <path
            opacity="0.4"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M-1213.55 273.704H204.049C261.6 273.704 313.105 237.638 332.915 183.643L393.195 17.9605V17.9592L393.197 17.9548L393.202 17.9407L393.22 17.8918C393.236 17.8502 393.259 17.7907 393.29 17.7145C393.35 17.5621 393.44 17.3427 393.562 17.066C393.805 16.5127 394.172 15.729 394.679 14.7917C395.692 12.919 397.264 10.422 399.508 7.92224C404.004 2.91269 411.214 -2.12204 421.965 -2.12204H858.776L958.551 -276.158H598.293C540.742 -276.158 489.237 -240.092 469.427 -186.096L409.147 -20.4145V-20.4132L409.145 -20.4087L409.14 -20.3947L409.121 -20.3458C409.106 -20.3042 409.083 -20.2447 409.052 -20.1685C408.992 -20.0161 408.901 -19.7967 408.78 -19.52C408.537 -18.9667 408.169 -18.183 407.663 -17.2457C406.65 -15.373 405.078 -12.8761 402.834 -10.3762C398.338 -5.36674 391.128 -0.332001 380.377 -0.332001H-1213.55V273.704ZM204.049 274.704C262.02 274.704 313.9 238.376 333.853 183.987L394.134 18.3024C394.134 18.3024 401.171 -1.12204 421.965 -1.12204H859.476L959.98 -277.158H598.293C540.322 -277.158 488.442 -240.829 468.488 -186.441L408.207 -20.7564C408.207 -20.7564 401.171 -1.332 380.377 -1.332H-1214.55V274.704H204.049Z"
            fill="white"></path>
          <path
            opacity="0.4"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M-1321.6 273.704H96.0001C153.55 273.704 205.055 237.638 224.865 183.643L285.145 17.9605L285.146 17.9592L285.147 17.9548L285.153 17.9407L285.171 17.8918C285.187 17.8502 285.21 17.7907 285.24 17.7145C285.301 17.5621 285.391 17.3427 285.512 17.066C285.755 16.5127 286.123 15.729 286.63 14.7917C287.642 12.919 289.215 10.422 291.458 7.92224C295.954 2.91269 303.165 -2.12204 313.915 -2.12204H750.727L850.502 -276.158H490.243C432.693 -276.158 381.187 -240.092 361.378 -186.096L301.097 -20.4145V-20.4132L301.095 -20.4087L301.09 -20.3947L301.072 -20.3458C301.056 -20.3042 301.033 -20.2447 301.003 -20.1685C300.942 -20.0161 300.852 -19.7967 300.731 -19.52C300.488 -18.9667 300.12 -18.183 299.613 -17.2457C298.601 -15.373 297.028 -12.8761 294.785 -10.3762C290.289 -5.36674 283.078 -0.332001 272.328 -0.332001H-1321.6V273.704ZM96.0001 274.704C153.971 274.704 205.85 238.376 225.804 183.987L286.085 18.3024C286.085 18.3024 293.121 -1.12204 313.915 -1.12204H751.426L851.93 -277.158H490.243C432.272 -277.158 380.393 -240.829 360.439 -186.441L300.158 -20.7564C300.158 -20.7564 293.121 -1.332 272.328 -1.332H-1322.6V274.704H96.0001Z"
            fill="white"></path>
          <path
            opacity="0.4"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M-1429.65 273.704H-12.0453C45.505 273.704 97.0105 237.638 116.82 183.643L177.101 17.9605V17.9592L177.103 17.9548L177.108 17.9407L177.126 17.8918C177.142 17.8502 177.165 17.7907 177.195 17.7145C177.256 17.5621 177.346 17.3427 177.468 17.066C177.71 16.5127 178.078 15.729 178.585 14.7917C179.598 12.919 181.17 10.422 183.413 7.92224C187.91 2.91269 195.12 -2.12204 205.871 -2.12204H642.682L742.457 -276.158H382.198C324.648 -276.158 273.143 -240.092 253.333 -186.096L193.053 -20.4145L193.052 -20.4132L193.051 -20.4087L193.046 -20.3947L193.027 -20.3458C193.012 -20.3042 192.989 -20.2447 192.958 -20.1685C192.898 -20.0161 192.807 -19.7967 192.686 -19.52C192.443 -18.9667 192.075 -18.183 191.569 -17.2457C190.556 -15.373 188.984 -12.8761 186.74 -10.3762C182.244 -5.36674 175.033 -0.332001 164.283 -0.332001H-1429.65V273.704ZM-12.0453 274.704C45.9256 274.704 97.8051 238.376 117.759 183.987L178.04 18.3024C178.04 18.3024 185.077 -1.12204 205.871 -1.12204H643.382L743.885 -277.158H382.198C324.228 -277.158 272.348 -240.829 252.394 -186.441L192.113 -20.7564C192.113 -20.7564 185.077 -1.332 164.283 -1.332H-1430.65V274.704H-12.0453Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_1406_10763">
            <rect width="418" height="238" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</section>
