---
import DocsLayout from '../layouts/Docs.astro';
import PatternsDoc from '../content/docs/patterns.adoc';
---

<DocsLayout title="Docs">
  <div class="blog-prose">
    <h1 class="h1-page-title text-3xl">Documentation</h1>
    <section class="prose mb-8 text-slate-900">
      <PatternsDoc />
    </section>
  </div>
</DocsLayout>
