---
import DocsLayout from '../layouts/Docs.astro';
import PatternsDoc from '../content/docs/patterns.adoc';
---

<DocsLayout title="Docs">
  <div class="blog-prose">
    <h1 class="h1-page-title">Documentation</h1>
    <section>
      <PatternsDoc />
    </section>
  </div>
</DocsLayout>
