---
import DocsLayout from '../layouts/Docs.astro';
import PatternsDoc from '../content/docs/patterns.adoc';
---

<DocsLayout title="Docs">
  <h1 class="text-3xl font-bold mb-6 text-black">Documentation</h1>
  <section class="prose max-w-none mb-8 text-slate-900">
    <PatternsDoc />
  </section>
</DocsLayout>
