---
import DocsLayout from '../layouts/Docs.astro';
import SampleTypst from '../content/math/sample.typ';
import Matrix from '../content/math/matrix.md';
---

<DocsLayout title="Math">
  <div class="blog-prose">
    <h1>Math Demo</h1>
    <section class="prose mb-8">
      <SampleTypst />
      <Matrix />
    </section>
  </div>
</DocsLayout>
