---
interface Props {
  title: string;
  gridId?: string;
}

const { title, gridId } = Astro.props;
---

<section class="more-section more-section--accent" data-toc-exclude>
  <h2 class="h2-section-label more-section__title">
    {title}
  </h2>
  <div class="more-grid" id={gridId}>
    <slot />
  </div>
</section>
