---
interface Props {
  id: string;
  title?: string;
}

const { id, title = 'Video' } = Astro.props;
---

<div class="youtube-embed my-6">
  <iframe
    src={`https://www.youtube.com/embed/${id}?autoplay=0&rel=0`}
    title={title}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
  ></iframe>
</div>
