---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoToTopButton from '../components/GoToTopButton.astro';
import { SITE_CONTENT } from '../utils/siteContent';

const { title = SITE_CONTENT.defaultTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width" />
                <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
                <link rel="icon" href="/favicon.ico" />
                <meta name="generator" content={Astro.generator} />
                <title>{title}</title>
                <link
                  rel="alternate"
                  type="application/rss+xml"
                  title="Timefold Blog RSS Feed"
                  href="/rss.xml"
                />
        </head>
        <body class="bg-timefold-dark text-slate-300 font-sans antialiased">
                <Header />

                <main class="layout-container pb-6 pt-16">
                        <slot />
                </main>

                <GoToTopButton />
                <Footer />
        </body>
</html>

